<div class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg"></div>
    <div class="center">
        <div class="header d-flex align-items-center">
            <h2>Full width with inner scroll</h2>
        </div>
        <div class="content-card">
            <div class="toolbar">
                Chào
            </div>
            <div class="content p-3">
                Donec id dictum erat. Etiam enim ex, dapibus et tortor id, posuere pretium est.
            </div>
        </div>
    </div>
</div>
