<mat-card style="width: 360px;">
    <mat-card-header class="d-flex flex-column justify-content-center">
        <img src="/assets/logo.svg">
        <span class="text-center pt-1 pb-4">{{l('WellcomeMessage')}}</span>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="frmLogin" novalidate>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l('UserNameOrEmail')}}</mat-label>
                <input formControlName="userNameOrEmailAddress" matInput autocomplete>
                <mat-icon matSuffix *ngIf="submitted && frmLogin.controls['userNameOrEmailAddress'].errors?.required" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('ThisFieldIsRequired')}}" color="warn">info</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{l('Password')}}</mat-label>
                <input formControlName="password" type="password" matInput autocomplete="off">
                <mat-icon matSuffix *ngIf="submitted && frmLogin.controls['password'].errors?.required" [matTooltipPosition]="'before'" matTooltipClass="bg-danger text-light mr-1" matTooltip="{{l('ThisFieldIsRequired')}}" color="warn">info</mat-icon>
            </mat-form-field>
            <div class="w-100">
                <mat-checkbox color="primary">{{l("RememberMe")}}</mat-checkbox>
            </div>
            <div class="mt-5 d-flex justify-content-center">
                <button mat-raised-button color="primary" class="w-75" (click)="login()">{{l('LogIn')}}</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
