/* General */

// variable
@import './core.variable.scss';
// bootstrap
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/grid';
// material
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
// custom font
$custom-typography: mat-typography-config( $font-family: $font-family-sans-serif);
@include angular-material-typography($custom-typography);
// other
#root-container {
    >.sidenav {
        width: 250px;
    }
}

// #main-container {
//     height: calc(100vh - 64px);
//     margin-top: $margin-top;
// }
.table-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    #loader {
        left: initial;
        top: initial;
        margin: 0
    }
}

* {
    outline: none !important;
}

.cursor {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
}

/* Portlet */

.portlet.light>.portlet-title .inputs.inputs-full-width {
    display: block;
    float: none;
}

.famfamfam-flags {
    display: inline-block;
}

topbar-languageswitch {
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    a {
        text-decoration: none;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

.swal-footer {
    text-align: center;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking,
perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y,
perfect-scrollbar>.ps.ps--scrolling-x>.ps__rail-x {
    background: transparent !important
}

.page-layout.carded.fullwidth.inner-scroll,
.page-layout.carded.fullwidth.inner-scroll>.center,
.page-layout.carded.fullwidth.inner-scroll>.center>.content-card {
    flex: 1 1 auto;
}

.page-layout {
    position: relative;
    overflow: hidden;
    &.carded {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        width: 100%;
        min-width: 100%;
    }
    >.top-bg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        height: 196px;
        background-image: url('../assets/header-bg.svg');
        background-size: cover;
    }
    >.center {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: relative;
        z-index: 2;
        padding: 0 32px;
        width: 100%;
        min-width: 0;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        >.header {
            height: 136px !important;
        }
        .content-card {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            overflow: hidden;
            box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
            background-color: white;
            >.toolbar {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: 1px solid gainsboro;
                height: 60px;
                min-height: 60px;
                max-height: 60px;
            }
            >.content {
                flex: 1 1 auto;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }
    }
}
